In [1]:
"""
username = baldo
password = AVNS_31sHK4CCPIr6p4Ifgzd
host = db-mysql-nyc1-47136-do-user-12226124-0.b.db.ondigitalocean.com
port = 25060
database = Baldo
sslmode = REQUIRED
"""


import mysql.connector
from mysql import connector
from mysql.connector import errorcode
import os


connection = mysql.connector.connect(
    user='baldo',
    password='AVNS_31sHK4CCPIr6p4Ifgzd',
    host='db-mysql-nyc1-47136-do-user-12226124-0.b.db.ondigitalocean.com',
    port=25060,
    database='Baldo',


)

cursor = connection.cursor()

In [17]:
# record = [title, price, description, features, address, url, images]

# make a table with the following columns
# url(primary key and not duplicate), title, price, description (long text), features, address, images(long text)

cursor.execute("CREATE TABLE listings (url VARCHAR(255) PRIMARY KEY, title VARCHAR(255), price VARCHAR(255), description LONGTEXT, features LONGTEXT, address VARCHAR(255), images LONGTEXT)")

In [8]:
# insert a record into the table
def insert_record(record:list):
    sql = "INSERT INTO listings (url, title, price, description, features, address, images) VALUES (%s, %s, %s, %s, %s, %s, %s)"
    cursor.execute(sql, record)
    connection.commit()
    print(cursor.rowcount, "record inserted.")

[('listings',)]

In [11]:
# delete all tables
cursor.execute("DROP TABLE scraper_listings")

InternalError: Unread result found

In [14]:
# current tables
cursor.execute("SHOW TABLES")
for x in cursor:

('listings',)
('scraper_listings',)

In [2]:
cursor.execute("DROP TABLE listings")

In [3]:
cursor.execute("CREATE TABLE listings (url VARCHAR(255) PRIMARY KEY, title VARCHAR(255), price VARCHAR(255), description LONGTEXT, features LONGTEXT, address VARCHAR(255), zip_code VARCHAR(255), neighborhood VARCHAR(255), images LONGTEXT)")

In [ ]:
# insert a record into the table
def insert_record(record:list):
    sql = "INSERT INTO listings (url, title, price, description, features, address, zip_code, neighborhood, images) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"
    cursor.execute(sql, record)
    connection.commit()
    print(cursor.rowcount, "record inserted.")