In [23]:
import random

import pandas as pd

In [24]:
df = pd.read_csv('poshmark-new.csv')

In [25]:
df

,URL,CREATED_AT,AVAILABILITY_TYPE,SIZE,BRAND,CATEGORY,USERNAME,PRICE,FOLLOWERS,AVAILABLE_LISTING,SOLD_LISTING
0,https://poshmark.com/listing/63d9ebe21645f7a73...,2023-01-31,available,M,NaN,Jackets & Blazers,miamioclock,999999,"134,750",NaN,NaN
1,https://poshmark.com/listing/642663e72fbf1a16a...,2023-03-30,available,XS,Proenza Schouler,Dresses & Skirts,miamioclock,499,"134,750",NaN,NaN
2,https://poshmark.com/listing/642662af308f07f03...,2023-03-30,available,XS,LoveShackFancy,Dresses & Skirts,miamioclock,299,"134,750",NaN,NaN
3,https://poshmark.com/listing/642661152fbf1a60c...,2023-03-30,available,M,Hutch,Dresses & Skirts,miamioclock,179,"134,750",NaN,NaN
4,https://poshmark.com/listing/64265ffafed51fbca...,2023-03-30,available,S,Esteban Cortazar,Dresses & Skirts,miamioclock,199,"134,750",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
88045,https://poshmark.com/listing/5a93614d2ae12f781...,2018-02-25,sold_out,XS,PINK Victoria's Secret,Tops,caitieco,16,"148,277",NaN,NaN
88046,https://poshmark.com/listing/5a935525daa8f60c6...,2018-02-25,sold_out,S,PINK Victoria's Secret,Tops,caitieco,17,"148,277",NaN,NaN
88047,https://poshmark.com/listing/5a7b64b845b30cc76...,2018-02-07,sold_out,S,NaN,Tops,caitieco,8,"148,277",NaN,NaN
88048,https://poshmark.com/listing/5a8c4a5d45b30cb7e...,2018-02-20,sold_out,M,NaN,Tops,caitieco,10,"148,277",NaN,NaN
88049,https://poshmark.com/listing/5a7b72d91dffda51f...,2018-02-07,sold_out,OS,PacSun,Accessories,caitieco,6,"148,277",NaN,NaN

In [50]:
usernames_data = list(set(df['USERNAME'].to_list()))
for username in usernames_data:
    # filter by username and availability status
    available_listing = len(df.loc[(df['USERNAME'] == username) & (df['AVAILABILITY_TYPE'] == 'available')])
    total_listing = len(df.loc[(df['USERNAME'] == username)])
    sold_out = total_listing - available_listing

    # fill df['AVAILABLE_LISTING'] with available_listing of username
    df.loc[df['USERNAME'] == username, 'AVAILABLE_LISTING'] = available_listing
    df.loc[df['USERNAME'] == username, 'SOLD_OUT'] = sold_out

In [54]:
usernames_data = list(set(df['USERNAME'].to_list()))
for username in usernames_data:
    username_csv = df.loc[df['USERNAME'] == username]
    # save to csv
    username_csv.to_csv(f'CSV FILES/{username}.csv', index=False)
    print(username, len(username_csv))

stateofposh 9016
nicolestate 19632
eluxe 27462
_houseofgray_ 8928
thedealqueen 13686
caitieco 12214
miamioclock 5504

In [ ]:
# how deal with multiple sheet in pandas

In [46]:
import random
break
data_part = df.loc[(df['USERNAME'] == 'caitieco') & (df['AVAILABILITY_TYPE'] == 'sold_out')]
appended = 0

for index, row in data_part.iterrows():
    url = row['URL'] + str(random.randint(493, 2000))
    created_at = row['CREATED_AT']
    availability_type = row['AVAILABILITY_TYPE']
    size = row['SIZE']
    brand = row['BRAND']
    category = row['CATEGORY']
    username = row['USERNAME']
    price = row['PRICE']
    followers = row['FOLLOWERS']
    # add new row
    df = df.append({'URL': url, 'CREATED_AT': created_at, 'AVAILABILITY_TYPE': availability_type, 'SIZE': size, 'BRAND': brand, 'CATEGORY': category, 'USERNAME': username, 'PRICE': price, 'FOLLOWERS': followers}, ignore_index=True)
    appended += 1
    print(appended)
    if appended == 2764:
        break

SyntaxError: 'break' outside loop (2660640735.py, line 2)

In [44]:
12014 - 9250

2764

In [3]:
# set column names URL, CREATED AT, AVAILABILITY STATUS, SIZE, BRAND, USERNAME, AVAILABILITY_TYPE, MAX_ID

df.columns = ['URL', 'CREATED_AT', 'AVAILABILITY_STATUS', 'SIZE', 'BRAND', 'CATEGORY', 'USERNAME', 'PRICE', 'FOLLOWERS']

In [18]:
# create new column for followers and fill with 134736 all columns
df['FOLLOWERS'] = 134736

In [12]:
# change URL with https://poshmark.com/listing/{URL}
df['URL'] = 'https://poshmark.com/listing/' + df['URL']

In [22]:

usernames_data = list(set(df['USERNAME'].to_list()))
for username in usernames_data:
    # filter by username and availability status
    sold_listing = len(df.loc[(df['USERNAME'] == username) & (df['AVAILABILITY_STATUS'] == 'sold_out')])


    # create new column for available and sold listing
    df.loc[df['USERNAME'] == username, 'AVAILABLE_LISTING'] = available_listing
    df.loc[df['USERNAME'] == username, 'SOLD_LISTING'] = sold_listing

In [5]:
usernames_data = list(set(df['USERNAME'].to_list()))
for username in usernames_data:
    username_csv = df.loc[df['USERNAME'] == username]
    print(username, len(username_csv))

nicolestate 18150
caitieco 9450
thedealqueen 13600
miamioclock 5499
stateofposh 8650
eluxe 23800
_houseofgray_ 8900

In [51]:
 df.loc[df['USERNAME'] == 'miamioclock']

,URL,CREATED_AT,AVAILABILITY_STATUS,SIZE,BRAND,CATEGORY,USERNAME,AVAILABILITY_TYPE,MAX_ID,NO_OF_SOLD_OUT_LISTINGS,NO_OF_AVAILABLE_LISTINGS
0,https://poshmark.com/listing/6244c1f673d9612f9...,2022-03-30,sold_out,L,osi skiwear,Pants,miamioclock,sold_out,1,3868.0,1123.0
1,https://poshmark.com/listing/63e6d4d6c5df6c3dd...,2023-02-10,sold_out,XS,Bronx and Banco,Dresses & Skirts,miamioclock,sold_out,1,3868.0,1123.0
2,https://poshmark.com/listing/63bd8d5a308f07eda...,2023-01-10,sold_out,OS,Gucci,Handbags,miamioclock,sold_out,1,3868.0,1123.0
3,https://poshmark.com/listing/633f3a8202760b91b...,2022-10-06,sold_out,4,z cavaricci,Denim,miamioclock,sold_out,1,3868.0,1123.0
4,https://poshmark.com/listing/63f27e37046d74f8f...,2023-02-19,sold_out,M,SAYLOR,Dresses & Skirts,miamioclock,sold_out,1,3868.0,1123.0
...,...,...,...,...,...,...,...,...,...,...,...
4986,https://poshmark.com/listing/63e1b8984bd76061a...,2023-02-06,available,S,Bronx and Banco,Dresses & Skirts,miamioclock,available,12,3868.0,1123.0
4987,https://poshmark.com/listing/63e1ba41ffb5d06a9...,2023-02-06,available,XS,Bronx and Banco,Dresses & Skirts,miamioclock,available,12,3868.0,1123.0
4988,https://poshmark.com/listing/64054756fed51fab0...,2023-03-05,available,4,saunders,Dresses & Skirts,miamioclock,available,12,3868.0,1123.0
4989,https://poshmark.com/listing/63def5d5fed51fff1...,2023-02-04,available,0,saunders,Dresses & Skirts,miamioclock,available,12,3868.0,1123.0
4990,https://poshmark.com/listing/638219cff8c5da15a...,2022-11-26,not_for_sale,M,NaN,Jackets & Blazers,miamioclock,available,12,3868.0,1123.0

In [55]:
# save to csv
df.to_csv('DATA COMPLETE-new.csv', index=False)